body {
    background: url('../images/bieb.jpg')  right top;
    background-repeat: repeat-y;
    background-size: 100%;

    margin-top: 20px;
    margin-bottom: 20px;

    text-align: left;
    font-family: Verdana;
    font-size: 15px;
    color: saddlebrown;

}

#container{
    width: 755px;
    margin: auto;
    background-color: rgba(248, 247, 216, 0.7);
}

#banner{
    padding: 15px 15px 0px 15px;
    text-align: center;
}

h1{
    padding: 10px;
    color: white;
    background-color: saddlebrown;
}

/*menu*/

#menu {
    background: saddlebrown;
    height: 25px;
}

#menu a {
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 13px;
    text-decoration: none;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    background: saddlebrown;
    height: 25px;
    width: auto;
    float: left;

    text-align: center;

    border-style: none solid none none;
    border-width: 1px;
    border-color: white;
}

#menu ul li:hover {
    background-color: rosybrown;
}

#content{
    background: transparent;
    padding: 0px 13px 13px 13px;
}

h3{
    padding: 4px;
    color: saddlebrown;
    text-decoration: underline;
    font-size: 15px;
    font-style: italic;
}

p{
    color: #666666;
    text-align: justify;
}

#boek{
    color: #666666;
    text-align: justify;
    text-decoration: none;
}

#lenen{
    float: right;
    width: 200px;
    color:white;
    background-color: brown;
}

#footer{
    background: rosybrown;
    padding: 13px;
}

#row{

    border-style: solid none solid none;
    border-width: 1.5px;
    border-color: saddlebrown;
}

#lenen{
    float: right;
    margin: 0px 0px 10px 10px;
}



